/* Tab Media Query */
@media (min-width:600px) and (max-width:1200px) {
    body {
        margin: 0;
        padding: 0;
    }

    /* home page css */



    /* aside css */
    .open .home-s1 .menu {
        width: fit-content;
        margin-top: 250px;
        margin-left: 10%;
    }

    .home-s1 .checkbox {
        position: absolute;
        top: 253px;
        left: 20%;
    }

    .home-s1 .icons {
        text-align: center;
        margin-top: 170px;
        margin-bottom: 10px;
    }

    /* content section of home page  */

    .home-s1 {
        /* border: 1px solid red; */
        height: 100vh;
        width: 20%;
        background-color: rgba(0, 0, 0, 0.450);
        position: relative;
        position: fixed;
    }

    .parent .home .home-s2 .text {
        margin-top: 30vh;
        margin-left: 30%;
    }

    /* home page css ends here */
    /* *********************************************************************** */

    /* info page css starts here */
    .info #icon {
        font-size: 45px;
    }

    .info h3 {
        font-weight: 500;
    }

    .info p {
        font-size: 14px;
    }

    /* info page css ends here */
    /* *********************************************************************** */

    /* our work page starts here */

    .our-work .border-1,
    .border-2 {
        height: 60vh;
        margin: 15vh 10%;
        width: 80%;
    }

    .our-work .border-1 h1 {
        color: #386bc2;
        font-size: 20px;
        margin: 70px 0 0 65px;
        font-weight: 400;
    }

    .our-work .border-1 .img {
        border: 1px solid black;
        margin-top: 2vh;
        height: 230px;
    }

    /* our work page ends here */
    /* *********************************************************************** */

    /* clients page starts here */

    .clients h1 {
        font-size: 20px;
        color: #386bc2;
        font-weight: 500;
    }

    .clients p {
        width: 60%;
        margin-left: 6%;
        font-size: 14px;
    }

    .clients .clients-1 .clnt-logo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .clients .clients-1 .clnt-logo .logo {
        border: 1px solid gray;
        height: 100px;
        width: 30%;
        margin: 10px;
    }

    /* our clients page ends here */
    /* *********************************************************************** */

    /* contact page starts here */

    .contact{
        flex-wrap: wrap;
    }

    .contact .cnt-1{
        margin-bottom: 350px;
    }

    .contact .br1,.br2 {

        width: 320px;

    }

    .contact .br1 .texts p {
        font-size: 14px;
    }

    /* contact page ends here */

}

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-*/

/* Mobile view */

@media(max-width:600px) {

    .open .fa-bars {
        display: block;
        font-size: 25px;
    }

    .open {
        position: fixed;
    }

    .open:hover .home-s1 {
        display: block;
        background-color: rgba(0, 0, 0, 0.850);
        width: 60%;
    }

    .open .home-s1 {
        display: none;
    }

    .home .fa-bars {
        display: block;
        border: 2px solid red;
    }

    .home .fa-bars:hover .home-s1 {
        display: block;
    }

    /*  */

    body {
        margin: 0;
        padding: 0;
    }

    /* home page starts */


    .parent .home .home-s2 {
        width: 100%;
    }

    .parent .home .home-s2 .text {
        margin-top: 30vh;
        margin-left: -10%;
    }

    /* *********************************************************************** */

    /* info page starts here */

    .info {
        width: 100%;
        margin-left: 0;
        flex-wrap: wrap;
    }

    .info .info-1,
    .info-2 {
        width: 100%;
        margin-top: 0;
        margin-top: 10vh;
    }

    .info #icon {
        font-size: 50px;
        margin-left: 45%;
    }

    .info h3 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    .info p {
        width: 80%;
        margin-left: 10%;
        font-size: 14px;
        text-align: center;
    }

    /* info Page Ends here */
    /* *********************************************************************** */

    /* our work starts here */

    .our-work {
        /* border: 1px solid red; */
        height: 280vh;
        margin-left: 0;
        width: 100%;
        position: relative;
    }

    .our-work .border-1,
    .border-2 {
        height: 250vh;
        position: absolute;
        width: 80%;
    }

    .our-work .border-1 h1 {
        color: #386bc2;
        font-size: 25px;
        margin: 0;
        margin-top: 50px;

        text-align: center;
        font-weight: 400;
    }

    .our-work .border-1 .images {
        flex-wrap: wrap;
    }

    .our-work .border-1 .img {
        margin-top: 2vh;
        height: 400px;
        width: 80%;
        margin-left: 10%;
    }

    /* our work page ends here */
    /* *********************************************************************** */

    /* clients page starts here */
    .clients {
        /* border: 1px solid red; */
        height: 140vh;
        width: 100%;
        margin-left: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .clients .clients-1 {
        width: 100%;
        margin-left: 0;
        height: 70vh;
        margin-top: 0;
    }

    .clients h1 {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
    }

    .clients p {
        width: 100%;
        margin-left: 0;
        text-align: center;
        font-size: 14px;
    }

    .clients .clients-1 .clnt-logo .logo {
        border: 1px solid gray;
        height: 100px;
        width: 50%;
        margin: 10px;
    }

    /* Our clients page ends here */
    /* *********************************************************************** */

    /* contact us page starts here */

    .contact {
        height: 100vh;
        /* border: 1px solid red; */
        width: 100%;
        margin-left: 0;
        position: relative;
        flex-wrap: wrap;
    }

    .contact .cnt-1,
    .cnt-2 {
        /* border: 1px solid red; */
        width: 100%;
    }

    .contact .cnt-2 {
        margin-top: 250px;
    }

    .contact .cnt-2 .form {
        margin-left: 18%;

    }

}